/*
Bronnen:

Docent:
Danny de Vries

Klasgenoten:
Janne Jansen,
Milou de Veen,
Sam Hofman,
Luca de Ruiter,
Niels Evers
Vasilis Gemert
Daan Rongen


CSS - Tricks
https://css-tricks.com/animating-svg-css/
https://css-tricks.com/pseudo-class-selectors/
https://css-tricks.com/almanac/properties/a/animation/
https://css-tricks.com/svg-line-animation-works/
https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
https://css-tricks.com/almanac/
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://css-tricks.com/svg-line-animation-works/
https://css-tricks.com/video-screencasts/135-three-ways-animate-svg/

Developer Mozilla
https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseover_event
https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent
https://developer.mozilla.org/en-US/docs/Web/CSS/animation
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations

Anders
http://stephen.io/mediaqueries/
https://cubic-bezier.com/#.01,-0.46,.71,1.47
https://www.gradient-animator.com/
http://keycode.info/
https://javascript.info/keyboard-events

 */



body {
  background: #a64624;
}

main {
  display: flex;
  justify-content: center;
}

/* Inladen */

svg{
  animation: inladen 2.5s linear 1;
  &:nth-child(1) {
    animation-delay: 0.3s;
  }
  &:nth-child(2) {
    animation-delay: 0.6s;
  }
  &:nth-child(3) {
    animation-delay: 0.9s;
  }
  &:nth-child(4) {
    animation-delay: 1.1s;
  }
}

@keyframes inladen {
   30%{
     opacity: 0;
   }
   100%{
     opacity: 1;
   }
}


#muur{
  animation: slide-in 2s linear;
}

@keyframes slide-in {
  0%{
    transform: translateX(100em);
  }

  100% {
    transform: translateX(0em);
  }
}
}




/* TELEFOON */

svg {
  position: absolute;
  top: 0;
}

article#text > svg{
   height:3em;
   fill:#f0edde !important;
   z-index: 10;
   top:60vh;
   position: absolute;
   cursor: pointer;
   margin-left: :auto;
   margin-right: auto;
 }

.cls-7,  .cls-8,  .cls-9 {
   fill:#f0edde !important;
 }

/* TOETSENBORD */
/* Bron: janne jansen */

.Mtoetsenbord{
    fill:Pink;
    transition: 1.2s;
    transition-timing-function: ease-in;
    }

.Otoetsenbord{
    fill:Pink;
    transition: 1.2s;
    transition-timing-function: ease-in;
}

.O2toetsenbord{
  fill:Pink;
  transition: 1.2s;
  transition-timing-function: ease-in;
}

.Dtoetsenbord{
    fill:Pink !important;
    transition: 1.2s;
    transition-timing-function: ease-in;
}

.Itoetsenbord{
  fill:Pink !important;
  transition: 1.2s;
  transition-timing-function: ease-in;
}

.Atoetsenbord{
  fill:Pink !important;
  transition: 1.2s;
  transition-timing-function: ease-in;
}
.Ntoetsenbord{
  fill:Pink;
  transition: 1.2s;
  transition-timing-function: ease-in;
}

/* MUUUR */
#muur {
  background: #4083b1;
  height: 100vh;
  width: 60vw;
  position: absolute;
  z-index: 1;
  right: -50px;
  transform: skew(-7deg);
}


/* Tablet */
@media (min-width: 768px) {
  svg {
    width: 60vw;
  }
 #muur {
   width: 55vw;
 }

 article#text > svg{
   height:4em;
   top:90vh;
   left:15vw;

  }
}


/* Dektop */
@media (min-width: 1000px) {
  svg {
    width: 45vw;
  }
  #muur {
    width: 52.5vw;
    height:100vh;
  }

  article#text > svg{
    top:90vh;
    left:24vw;
   }
}
