/*
Bronnen:

Docent:
Danny de Vries

Klasgenoten:
Janne Jansen,
Milou de Veen,
Sam Hofman,
Luca de Ruiter,
Niels Evers
Vasilis Gemert
Daan Rongen


CSS - Tricks
https://css-tricks.com/animating-svg-css/
https://css-tricks.com/pseudo-class-selectors/
https://css-tricks.com/almanac/properties/a/animation/
https://css-tricks.com/svg-line-animation-works/
https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
https://css-tricks.com/almanac/
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://css-tricks.com/svg-line-animation-works/
https://css-tricks.com/video-screencasts/135-three-ways-animate-svg/

Developer Mozilla
https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseover_event
https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent
https://developer.mozilla.org/en-US/docs/Web/CSS/animation
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations

Anders
http://stephen.io/mediaqueries/
https://cubic-bezier.com/#.01,-0.46,.71,1.47
https://www.gradient-animator.com/
http://keycode.info/
https://javascript.info/keyboard-events
https://www.colorhexa.com/

 */



body {
  background: #a64624;
  overflow:hidden;
}

main {
  display: flex;
  justify-content: center;
}

/* Inladen */

/* svg{
  animation: inladen 2.5s linear 1;
}

@keyframes inladen {
   30%{
     opacity: 0;
   }
   100%{
     opacity: 1;
   }
} */

/*
#Hoedschuiven{
  animation: omlaag 2s linear;
  cursor: pointer;
}

@keyframes omlaag {
   0%{
     transform:translateY(-200em);
     opacity: 0;
   }
   100%{
     transform:translateY(0em);
     opacity: 1;
   }
} */



#muur{
  animation: slide-in 3s linear;
}

@keyframes slide-in {
  0%{
    transform: translateX(100em);
  }

  100% {
    transform: translateX(0em);
  }
}
}


#Sigaret{
  cursor:pointer;
}

.roken {
  animation: omhoog 1.8s linear;
}

@keyframes omhoog {
  0% 100%{
    transform:translateY(0) rotate(0deg);

  }
  40%{
    transform:translateY(-80em);
  }
  50%{
    transform:translateY(-90em);
  }
  60%{
    transform:translateY(-80em);
  }
}

#Hoed{
  cursor:pointer;
}

.Hoedje{
  animation: koppijn 1s linear ;
  z-index: 4;
}

@keyframes koppijn {
  0% 100%{
    transform:translateY(0em);
    z-index:4;
  }
   50%{
     transform:translateY(-20em);
     z-index:4;
   }

}



/* TELEFOON */

svg#schuiven {
  position: absolute;
  top: 0;
}

/* Bron: Niels Evers */

article#text > svg{
   height:3em;
   z-index: 10;
   top:60vh;
   position: absolute;
   cursor: pointer;
   margin-left: :auto;
   margin-right: auto;
 }

.cls-8,  .cls-9,  .cls-10,  .cls-11,  .cls-12,  .cls-13,  .cls-14{
   fill:#f0edde !important;
   transition: 1.2s;
   transition-timing-function: ease;
 }

/* TOETSENBORD */
/* Bron: janne jansen */

.Mtoetsenbord{
    opacity: 0;
    transition: 1.2s;
    transition-timing-function: ease-in;
    }

.Otoetsenbord{
    opacity:0;
    transition: 1.2s;
    transition-timing-function: ease-in;
}

.O2toetsenbord{
  opacity: 0;
  transition: 1.2s;
  transition-timing-function: ease-in;
}

.Dtoetsenbord{
    opacity:0;
    transition: 1.2s;
    transition-timing-function: ease-in;
}

.Itoetsenbord{
  opacity:0 !important;
  transition: 1.2s;
  transition-timing-function: ease-in;
}

.Atoetsenbord{
  opacity: 0 !important;
  transition: 1.2s;
  transition-timing-function: ease-in;
}
.Ntoetsenbord{
  opacity: 0;
  transition: 1.2s;
  transition-timing-function: ease-in;
}




/* MUUUR */
#muur {
  cursor:pointer;
  background: #4083b1;
  height: 100vh;
  width: 60vw;
  position: absolute;
  z-index: 1;
  right: -50px;
  transform: skew(-7deg);
  transition: 1s;
  ransition-timing-function: ease-in;
}

#muur:hover{
  background:#2a1c18;
}

path.cls-1{
  fill:#2a1c18;
  transition: 1s;
  ransition-timing-function: ease-in;
}

path.cls-1:hover{
  fill:#4083b1;
}




/* Tablet */
@media (min-width: 768px) {

  svg {
    width: 60vw;
  }


 #muur {
   width: 55vw;
 }



 article#text > svg{
   height:4em;
   top:90vh;
   left:15vw;
   transition: 1.2s;
   transition-timing-function: ease;

  }
}


/* Dektop */
@media (min-width: 1000px) {
  svg#schuiven {
    width: 45vw;
  }

  #muur {
    width: 52.5vw;
    height:100vh;
  }

  article#text > svg{
    top:90vh;
    left:15vw;
    transition: 1.2s;
    transition-timing-function: ease;
   }
}

.cls-5:hover{
  opacity:0.7;
}
